# Build artifacts
dist/
build/
release/

# Dependencies
node_modules/

# Webpack and config files
webpack.config.js
postcss.config.js
tailwind.config.js

# OS and editor files
.DS_Store
.vscode/
.idea/

# Other
*.log 